<h1>Ask the question to the coaching </h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Ask your question?">
  <input type="submit" value="Ask!">
</form>
